body {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.main {
    position: absolute;
    text-align: center;
    border: 1px solid #000000;
    background-color: #F3F3F3;
    width: 600px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.topBar {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #000000;
    background-color: #CCCCCC;
    width: 100%;
    height: 35px;
}

.title {
    padding: 15px 0;
    font-size: 1.8em;
}

.label-col {
    float: left;
    width: 30%;
    margin-top: 12px;
    text-align: right;
    font-size: 1.0em;
}

.label-col.short {
    width: 11%;
}

.input-col {
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding-left: 10px;
    margin-top: 12px;
    text-align: left;
}

.input-col.short {
    width: 15%;
}

.input-col-radio {
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding-left: 5px;
    margin-top: 6px;
    text-align: left;
}

.input-col input,
.input-col select {
    box-sizing: border-box;
    width: 72%;
    border: 0.5px solid;
    padding-left: 5px;
    font-size: 1.0em;
}

.input-col.short input,
.input-col.short select {
    width: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.errMessage {
    color: #FF0000;
}

i.fa.fa-exclamation-circle {
    font-size: 14px;
    color: #FF0000;
}

i.fa.fa-info-circle {
    position: relative;
    font-size: 14px;
    color: #696969;
}

i.fa.fa-info-circle:hover {
    color: #353535;
}

i.fa.fa-chevron-circle-up,
i.fa.fa-chevron-circle-down {
    font-size: 14px;
    color: #000000;
}

i.fa.fa-chevron-circle-up:hover,
i.fa.fa-chevron-circle-down:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #CCCCCC;
    color: #000000;
    text-align: center;
    width: 85px;
    border-radius: 4px;
    padding: 2px 2px;
    top: -7px;
    left: 150%;
    font-size: 0.70em;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #CCCCCC transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.button-bottom {
    margin-top: 35px;
}

.button {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 0px 12px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.button:hover {
    background-color: #BBBBBB;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.table-div {
    height: 50%;
    overflow-y: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 0 auto;
    width: 95%;
}

table caption {
    text-align: left;
    padding: 0px 0px 5px 0px;
    font-size: 1.20em;
}

th, td {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    text-align: left;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

tr:hover {
    background-color: #D4D4D4;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #CCCCCC;
}

tr {
    font-weight: normal;
}

#bottom-fields {
    height: 25%;
}

.col-33 {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 33%;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
}

.col-33 .fields {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.col-33 .fields .button,
.col-33 .fields select,
.col-33 .fields .term {
    box-sizing: border-box;
    width: 60%;
    margin: 2px auto;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 3px 8px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.col-33 .fields .range {
    width: 28.3%;
    text-align: left;
}

a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline solid #0000FF;
}

.sort-icon {
    float: right;
    padding-right: 5%;
}
